@media (min-width: 800px){

body{
	height: 100%;
}

.container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 100px);
	grid-gap: 2px;
	background-color: black;
	border: 2px solid black;
	/*height: 100%;*/
}
header{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: gray;
	display: flex;
  	align-items: center;
  	justify-content: center 
}


article{
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 8;
	background-color: white;
	text-align: center;
}

footer{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 8;
	grid-row-end: 9;
	background-color: gray;
	display: flex;
  	align-items: center;
  	justify-content: center 
}

nav{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 8;
	background-color: white;
	text-align: center;
}

.main-page{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: white;
    display: flex;
  	align-items: center;
  	justify-content: center 
}

.gallery{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: white;
    display: flex;
  	align-items: center;
  	justify-content: center 
}

.location{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: white;
    display: flex;
  	align-items: center;
  	justify-content: center 
}

.contact{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
    background-color: white;
    display: flex;
  	align-items: center;
  	justify-content: center 
}
 .logo{
 	position: absolute;
 	left: 25px;
 	top: 25px;
 }

 h4{
 	color: yellow;
 }
}

@media (max-width: 800px){
	body{
		height: 100%;
	}

	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 100px);
		grid-gap: 2px;
		background-color: black;
		border: 2px solid black;
		/*height: 100%;*/
	}

	header{
		grid-area: 1 / 1 / 2 / 2;
		background-color: gray;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	.main-page{
		grid-area: 2 / 1 / 3 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	.gallery{
		grid-area: 3 / 1 / 4 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	.location{
		grid-area: 4 / 1 / 5 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	.contact{
		grid-area: 5 / 1 / 6 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	nav{
  		grid-area: 6 / 1 / 7 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	article{
  		grid-area: 7 / 1 / 8 / 2;
		background-color: white;
		display: flex;
  		align-items: center;
  		justify-content: center 
  	}

  	footer{
  		grid-area: 8 / 1 / 9 / 2;
		background-color: gray;
		display: flex;
  		align-items: center;
  		justify-content: center;
  	}
}


