@media screen and (max-width: 1000px){
html {
  scroll-behavior: smooth;
}

body{
	max-width: 100%;
	margin: 0px 10px 10px 10px;
	background-color: #edf0e9;
}

/* fonts */
h1, h3, h4, a, .footer, li, h2, input, p, div, h5{
	font-family: 'monospace';
	text-decoration: none;
	font-size: 2.5vw;
	color: #3c3947;
}

h1 {
  font-size: 6vw; 
}

h2 {
  font-size: 5vw; 
}

h3 {
  font-size: 4vw; 
}

h4 {
  font-size: 3vw; 
}

h5 {
  font-size: 2.5vw; 
}

h6 {
  font-size: 2vw; 
}

header h1{
	font-size: 6.5vw;
}

header h5{
	font-size: 2.8vw;
}

header ul li{
	font-size: 2vw;
}

.ff{
	margin-top: 0;
}

.container{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: 80vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 124vh 10vh;*/
	grid-template-rows: auto;
	grid-gap: 10px;
	background-color: #edf0e9;
	font-family: monospace;
}

.photo, .ingr, .make, .contact, footer{
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #a28a75;

}

header{
	padding: 15px;
}

nav div img{
	height: 100%;
}

nav{
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5vh 5vh 5vh;
	position: fixed;
	background-color: #edf0e9;
	border: 2px solid #a28a75;
	border-radius: 5px;
	margin: 0px 10px 0px 10px;
	left: 0px;
	right: 0px;
	z-index: 1;
	
}

nav div{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


nav .logo{
	display: none;	
}

nav .intro{
	grid-area: 1/1/2/2;
	border-bottom: 2px solid #a28a75;
}

nav .recipes{
	grid-area: 2/1/3/2;
	border-bottom: 2px solid #a28a75;
}

nav .contact-button{
	grid-area: 3/1/4/2;
}

nav .intro:hover, nav .recipes:hover, nav .contact-button:hover{
	background-color: #a28a75;	
} 

header{
	grid-area: 1/1/2/2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
}

.recipe-list{
	grid-area: 2/1/3/2;
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
  
/**/
.recipe-box-headers{
	grid-area: 3/1/4/2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.recipe-box-recipes{
	grid-area: 5/1/6/2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.photo, .ingr, .make{
	width: 80vw;
	margin-top: 4px;
	margin-bottom: 4px;
}

.photo{
	min-height: 25vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.ingr, .make{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ingr p, .make p{
	padding: 6vh;
}
.empty {
	height: 15vh;
	grid-area: 4/1/5/2;
}

.contact{
	grid-area: 6/1/7/2;
}

footer{
	grid-area: 7/1/8/2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 12vh 14vh 4vh 10vh 4vh 10vh 4vh 10vh 4vh 10vh 2vh 12vh 12vh;
	grid-gap: 10px;
	border-radius: 5px;
	font-family: 'Times New Roman', cursive;
}
.new-message{
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: 2 / 1 / 3 / 4;
}

.message-details-1{
	grid-area: 3/1/4/4;
}

.message-details-2{
	grid-area: 5/1/6/4;
}

.message-details-3{
	grid-area: 7/1/8/4;
}

.message-details-4{
	grid-area: 9/1/10/4;
}

.in1{
	grid-area: 4/1/5/4;
}

.in2{
	grid-area: 6/1/7/4;
}

.in3{
	grid-area: 8/1/9/4;
}

.in4{
	grid-area: 10/1/11/4;
}

input{
	font-size: 2vw;
	grid-column-start: 2;
	grid-column-end: 4;
}

.send-copy{
	grid-area: 11 / 1 / 12 / 4;
}

.send{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: 12 / 1 / 13 / 4;
}
.d-none{
	display: none;
}

}