div{
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	height: 1000px;
}

.photo1{
	background-image: url('1.jpg');
}

.photo2{
	background-image: url('2.jpg');
}

.photo3, .photo4{
	background-repeat: no-repeat;
	background-position: center;
}

.photo3{
	background-image: url('3.jpg');

}

img{
	shape-outside: circle(50%);
}

.photo4{
	background-image: url('4.jpg');
}

.text-box{
	height: 200px;
	background-color: gray;
}